* {
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  font-family: 'Quicksand';
}

header {
  background-color: #335cb6;
  padding         : 10px;
}

header h1 {
  color    : #fff;
  max-width: 1200px;
  margin   : 0 auto;
}

h2 {
  padding-bottom: 10px;
  border-bottom : 1px solid #cfcfcf;
}

.content {
  width                : 100%;
  max-width            : 1200px;
  margin               : 0 auto;
  padding              : 20px;
  display              : grid;
  grid-template-columns: 2fr 1.1fr;
  gap                  : 100px;
}

.userInfo {
  margin-top     : 10px;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.userInfo img {
  border-radius: 50%;
}

.userInfo .info {
  line-height: 25px;
}

.article {
  margin: 20px 0 ;
}